@media screen and (max-width: 1023px) {
  .navbar-menu {
    display: flex !important;
    padding: 0;
  }
  .navbar-end {
    margin-left: auto;
  }
  .navbar-item {
    padding: 0.5rem;
  }
}

.scrollable-container {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  padding-right: 15px;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #888;
}

.empty-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}

.footer {
  --bulma-footer-padding: 1rem 1.5rem 1rem;
}

.title {
  color: white;
}

.subtitle {
  color: white;
}