<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <title>Bagijuz</title>
  </head>
  <body>
    <div class=".container.is-widescreen" id="app">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <div class="navbar-item" href="https://bulma.io">
            <img src="./brand.png" alt="Logo">
            <span class="ml-2">BAGIJUZ</span>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <button @click="setLanguage('id')" :class="{'is-primary': isActive('id'), 'is-light': !isActive('id')}" class="button">Bahasa Indonesia</button>
              <button @click="setLanguage('en')" :class="{'is-primary': isActive('en'), 'is-light': !isActive('en')}" class="button">English</button>
            </div>
          </div>
        </div>
      </nav>

      <section class="hero" style="background-color: aqua;">
        <div class="hero-body">
          <p class="title">Primary hero</p>
          <p class="subtitle">Primary subtitle</p>
        </div>
      </section>

      <div class="columns" style="margin-top: 20px;">
        <div class="column is-4">
          <div class="container pl-2" id="setting">
            <div class="box">
              <div class="block">
                <h1>{{ i18n.t('settingTitle') }}</h1>
              </div>
              <div class="field">
                <label class="label">{{ i18n.t('memberTextAreaLabel') }}</label>
                <div class="control">
                  <textarea class="textarea is-primary" rows="3" placeholder="eg: Ragil, Ilham, Akhdan" v-model="memberTextAreaValue"></textarea>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <div class="columns is-multiline">
                    <div v-for="n in 30" class="column is-one-fifth">
                      <label class="checkbox">
                        <input type="checkbox" :value="n" v-model="selectedJuzCheckboxes"/>
                        {{ n }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" @click="submitSetting">{{ i18n.t('submitText') }}</button>
                </div>
                <div class="control">
                  <button @click="toggleSelectAll" class="button is-link is-light">{{ selectAllText }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="container" id="report" style="padding-right: 2%;">
            <div class="box scrollable-container">
              <div class="block">
                <h1>{{ i18n.t('reportTitleText') }}</h1>
              </div>
              <div v-if="distribution.length > 0">
                <div v-for="juzDistribution in distribution" :key="juzDistribution.juz" class="box mb-6">
                  <h2 class="title is-5">Juz {{ juzDistribution.juz }}</h2>

                  <table class="table is-fullwidth is-bordered is-striped">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>{{ i18n.t('reportHeaderNameText') }}</th>
                        <th>{{ i18n.t('reportHeaderSurahText') }}</th>
                        <th>{{ i18n.t('reportHeaderFromVerseText') }}</th>
                        <th>{{ i18n.t('reportHeaderToVerseText') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <template v-for="(personDistribution, index) in juzDistribution.distribution" :key="personDistribution.person">
                        <tr v-for="(assignment, idx) in personDistribution.assignment" :key="assignment.surahName + assignment.fromVerse + assignment.toVerse">
                          <td v-if="idx === 0" :rowspan="personDistribution.assignment.length">{{ index + 1 }}</td>
                          <td v-if="idx === 0" :rowspan="personDistribution.assignment.length">{{ personDistribution.person }}</td>

                          <td>{{ assignment.surahName }}</td>
                          <td>{{ assignment.fromVerse }}</td>
                          <td>{{ assignment.toVerse }}</td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                  <button class="button is-link is-small" @click="copyAssignments(juzDistribution)">{{ i18n.t('copyAssignmentText') }}</button>
                </div>
              </div>
              <p v-else>{{ i18n.t('noReportText') }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
          The source code is licensed
          <a href="https://opensource.org/license/mit">MIT</a>. The
          website content is licensed
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//"
            >CC BY NC SA 4.0</a
          >.
        </p>
      </div>
    </footer>
    <script src="./i18n.js"></script>
    <script src="./data.js"></script>
    <script src="./distribute.js"></script>
    <script src="./index.js"></script>
  </body>
</html>