<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simplify your Quran recitation journey with Bagijuz. Easily calculate and distribute verses among your group, ensuring you can complete the Quran together.">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="index.css">

    <link rel="preload" href="./vue.global.min.js" as="script">
    <link rel="preload" href="./i18n.js" as="script">
    <link rel="preload" href="./data.js" as="script">
    <link rel="preload" href="./distribute.js" as="script">
    <link rel="preload" href="./index.js" as="script">

    <title>Bagijuz</title>
  </head>
  <body>
    <div class=".container.is-widescreen mb-4" id="app">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <div class="navbar-item" href="https://bulma.io">
            <img src="./brand.png" alt="Logo">
            <span class="ml-2">BAGIJUZ</span>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <button @click="setLanguage('id')" :class="{'is-primary': isActive('id'), 'is-light': !isActive('id')}" class="button is-small">Bahasa Indonesia</button>
              <button @click="setLanguage('en')" :class="{'is-primary': isActive('en'), 'is-light': !isActive('en')}" class="button is-small">English</button>
            </div>
          </div>
        </div>
      </nav>

      <section class="hero" style="background-color: #00d1b2;">
        <div class="hero-body">
          <p class="title">Bagijuz</p>
          <p class="subtitle">{{ i18n.t('subTitleText') }}</p>
        </div>
      </section>

      <div class="columns" style="margin-top: 20px;">
        <div class="column is-4">
          <div class="container pl-2" id="setting">
            <div class="box">
              <div class="block">
                <h1>{{ i18n.t('settingTitle') }}</h1>
              </div>
              <div class="field">
                <label class="label">{{ i18n.t('memberTextAreaLabel') }}</label>
                <div class="control">
                  <textarea class="textarea is-primary" rows="3" placeholder="eg: Ragil, Ilham, Akhdan" v-model="memberTextAreaValue"></textarea>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <div class="columns is-multiline is-mobile">
                    <div v-for="n in 30" class="column is-one-fifth">
                      <label class="checkbox">
                        <input type="checkbox" :value="n" v-model="selectedJuzCheckboxes"/>
                        {{ n }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" @click="submitSetting">{{ i18n.t('submitText') }}</button>
                </div>
                <div class="control">
                  <button @click="toggleSelectAll" class="button is-link is-light">{{ selectAllText }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="container" id="report" style="padding-right: 2%;">
            <div class="box scrollable-container">
              <div class="block">
                <h1>{{ i18n.t('reportTitleText') }}</h1>
              </div>
              <div v-if="distribution.length > 0">
                <div v-for="juzDistribution in distribution" :key="juzDistribution.juz" class="box mb-6">
                  <h2 class="title is-5">Juz {{ juzDistribution.juz }}</h2>

                  <table class="table is-fullwidth is-bordered is-striped">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>{{ i18n.t('reportHeaderNameText') }}</th>
                        <th>{{ i18n.t('reportHeaderSurahText') }}</th>
                        <th>{{ i18n.t('reportHeaderFromVerseText') }}</th>
                        <th>{{ i18n.t('reportHeaderToVerseText') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <template v-for="(personDistribution, index) in juzDistribution.distribution" :key="personDistribution.person">
                        <tr v-for="(assignment, idx) in personDistribution.assignment" :key="assignment.surahName + assignment.fromVerse + assignment.toVerse">
                          <td v-if="idx === 0" :rowspan="personDistribution.assignment.length">{{ index + 1 }}</td>
                          <td v-if="idx === 0" :rowspan="personDistribution.assignment.length">{{ personDistribution.person }}</td>

                          <td>{{ assignment.surahName }}</td>
                          <td>{{ assignment.fromVerse }}</td>
                          <td>{{ assignment.toVerse }}</td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                  <button class="button is-link is-small" @click="copyAssignments(juzDistribution)">{{ i18n.t('copyAssignmentText') }}</button>
                </div>
              </div>
              <div v-else class="empty-state">
                <svg class="empty-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
                <p>{{ i18n.t('noReportText') }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p><strong>Bagijuz v2.0</strong></p>
        <p>
          Made with &hearts; in Surabaya.
          Feel free to contribute at
          <a href="https://github.com/jayantodpuji/bagijuz">Github</a>
        </p>
      </div>
    </footer>

    <script src="./vue.global.min.js"></script>
    <script src="./i18n.js"></script>
    <script src="./data.js"></script>
    <script src="./distribute.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
