.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.navbar-brand, .navbar-end {
  display: flex;
  align-items: center;
}
.navbar-item {
  padding: 0.5rem;
}
.navbar-end .buttons {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .button.is-small {
    font-size: 0.65rem;
  }
}

.scrollable-container {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  padding-right: 15px;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #888;
}

.empty-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}

.footer {
  --bulma-footer-padding: 1rem 1.5rem 1rem;
}

.title {
  color: white;
}

.subtitle {
  color: white;
}